/**	Default font for text	**/
text	{font-family:Dialog;font-size:1em;}	
g.indicator a {fill:#00f; text-decoration:underline}
/**	Node indicators	**/
.indicator {text-anchor:start; font-size:0.83em; font-weight: bold}
/** g.details  > text.indicator {font-weight: bold;}	**/
g.transclusion > g.details > text.transclusionLinks {font-size:0.83em}
g.transclusion > g.details > rect.border {fill: #eff; stroke: #888; fill-opacity:1.0}
/** Set font size for the details indicator asterisk * **/
g.details > text.indicator {font-size:1.5em}
/**	The nodelabel class for text elements	**/
text.nodelabel { text-anchor: middle;font-family:Dialog;font-size:1em } 
/** The link class for line elements 	**/
line.link { stroke:#000; stroke-width:1px;; stroke-opacity:1.0}
line.fullscreenarrow { stroke:#000; stroke-width:2px;; stroke-opacity:1.0}
/**	Clear text elements in transclusion and tags groups	**/
/** g.transclusion > text	{} **/
/** g.tags > text	{}	**/
g#ViewPane {}
/******************************* Node type classes *******************************/
/****** Learning design nodes ******/
/****** These are place holders *****/
g.activity	{ }
g.learnerOutput	{}
g.learningOutcome	{ }
g.resource	{}
g.role	{}
g.stop	{ }
g.task	{ }
g.tool	{ }
g.mapnode use {cursor: pointer;}
g.activitynode use {cursor: pointer;}

/****** Compendium nodes ******/
/****** These are placeholders *****/
g.question	{ }
g.answer	{ }
g.map	{ }
g.list 	{ }
g.pro	{}
g.con	{}
g.reference	{}
g.note	{}
g.decision	{}
g.argument	{}
/****** Links ******/
/**	General purpose link	**/
g.link	{}
/**	Task link; class="link task otherVals"	**/
g.link.task	{}
/**	Navigation pane styles	**/
.navpanehomerect {fill:none; stroke:#8275FD; text-anchor:middle;}
.navpaneborderrect {fill:none; stroke:#8275FD; stroke-width:0.2em; text-anchor:middle;}
text.navPane {text-anchor:start;font-family:Dialog;font-size:1.8em }
.NavPane {clip-path: url(#NavPaneClipPath);}
g.navpaneviewitem {cursor: pointer;}
g.navpaneviewitem > rect.viewitemrect {fill:none; stroke:silver}
g.navpaneviewitem.selected > rect.viewitemrect {fill:yellow; stroke:silver}
/**	Help pane styles	**/
g.fullscreen  {cursor: pointer;}
.helprect { stroke:#8275FD; text-anchor:middle;}
.helptext {font-family:Dialog;font-size:1.8em;text-anchor:middle; }
.sharetext {font-family:Dialog;font-size:1.5em;text-anchor:middle; cursor: pointer; }
text.sharetext:hover{text-decoration:underline;}
/** Embed code styles	**/
body input {border-style:solid; border-color:black; border-width:0.2em; font-family:Dialog;}
.embedinfo {font-family:Arial;font-size:1em;}